body {
       text-align: center;
}

.company {
       
        color: blue;
        
    }
    #Arrivals{
        color: azure;
        background-color: blue;
    }
    #Departures{
        color: azure;
        background-color: red;
    }
